@using PonfeLibrary.Models;
@{
    ViewData["Title"] = "Books";
}

@foreach (var b in ViewBag.Books)
{
    <div class="medium-container">
        <div class="book">
            <h4>@b.Title</h4>
            <h5>@b.Subtitle</h5>
            <span class="details-text" id="desc-@b.Id">ISBN: @b.Isbn</span>
        </div>
        <div id="details-arrow" >
            <a class="material-icons" onclick="bookDetails(@b.Id)">
                keyboard_arrow_down
            </a> 
        </div>
            
        <div class="button-holder">
            <a asp-action="Edit" asp-route-id="@b.Id">Edit</a>
            <a onclick="toggleModal('book',@b.Id)">Delete</a>
        </div>
        <div id="delete-book-@b.Id" class="modal">
            <div class="modal-content">
                <span>
                    Are you sure you want to delete?
                </span>
                <div class="button-holder">
                    <a asp-action="Delete" asp-route-id="@b.Id">Yes</a>
                    <a onclick="toggleModal('book',@b.Id)">No</a>
                </div>
            </div>
        </div>
            
    </div>
}
